* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FAE3B4;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3J-7ey9pak-A-D26Ua7ynAAfx8q5u3KKTw&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url('images/logo-HR-quan-tri-nhan-su-2');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu a,
.menu .login-button {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.language-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #333;
    background-color: #FAE3B4;
    cursor: pointer;
}

.login-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 5px;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
    color: #555;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.password-input {
    position: relative;
    margin-bottom: 15px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Notification bar styles */
.notification {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    z-index: 1000;
}

.notification button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
